.categories {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-left: 2rem;
    width: 10rem;
}

.categories__button {
    font-size: 2rem;
    text-align: center;
    width: 8rem;
    color: #0000CD;
    background: #F5F5F5;
    margin: 1rem;
}